 body{
  background-color:#151414;
  color: white;
  font-family: sans-serif
}


*{
  text-align: center;
}


.container{
  background-color:#878787;
  color: white;
  font:;
  border-radius:25px;
  padding: 15px;
  width:350px;
  margin:auto;
  text-align: center;
  margin-top: 10%;
}


